[submodule "Hexapod-Hardware"]
	path = Hexapod-Hardware
	url = https://github.com/ggldnl/Hexapod-Hardware.git
[submodule "Hexapod-Controller"]
	path = Hexapod-Controller
	url = https://github.com/ggldnl/Hexapod-Controller.git
