[submodule "Hexapod-Hardware"]
	path = Hexapod-Hardware
	url = https://github.com/ggldnl/Hexapod-Hardware.git
	branch = main
[submodule "Hexapod-Controller"]
	path = Hexapod-Controller
	url = https://github.com/ggldnl/Hexapod-Controller.git
	branch = main
[submodule "Hexapod-Firmware"]
	path = Hexapod-Firmware
	url = https://github.com/ggldnl/Hexapod-Firmware.git
	branch = main
